# IBM\ UrbanCode\ Deploy/java.home=/opt/IBM/ibm-java-x86_64-70
agent.jms.full_encryption=true
locked/agent.home=/opt/ibm-ucd/agent
locked/agent.http.proxy.host=
locked/agent.http.proxy.port=
locked/agent.initial.teams={{ ucd_teams }}
locked/agent.jms.remote.host={{ ucd_host }}
locked/agent.jms.remote.port={{ ucd_port }}
locked/agent.mutual_auth=false
locked/agent.name={{ ucd_agent_name }}
server.url={{ ucd_server_url }}
system.default.encoding=UTF-8
verify.server.identity=false
